@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 5% 64.9%;
 
    --radius: 0.5rem; */

    /* 1C1C1C */
    --black-100: hsl(0, 0%, 11%);
    --black-80: hsl(0%, 11%, 80%);

    --white-100: hsl(0, 0%, 100%);
    --white-80: hsl(0, 0%, 80%);
    --white-40: hsl(0, 0%, 40%);
    --white-20: hsl(0, 0%, 20%);
    --white-10: hsl(0, 0%, 10%);
    --white-5: hsl(0, 0%, 5%);

    /* F7F9FB */
    --primary-light: hsl(210, 50%, 98%);
    /* E3F5FF */
    --primary-blue: hsl(210, 90%, 95%);
    /* E5ECF6 */
    --primary-purple: hsl(240, 20%, 90%);
    /* 1C1C1C */
    --primary-brand: hsl(0, 0%, 11%);

    /* 95A4FC */
    --secondary-purple-a: hsl(240, 60%, 75%);
    /* A8C5DA */
    --secondary-blue-a: hsl(200, 30%, 75%);
    /* E3F5FF */
    --secondary-blue-b: hsl(210, 90%, 95%);
    /* A1E3CB */
    --secondary-green-a: hsl(160, 70%, 75%);
    /* BAEDBD */
    --secondary-green-b: hsl(100, 40%, 75%);
    /* FFE999 */
    --secondary-yellow: hsl(50, 100%, 75%);
    /* FF4747 */
    --secondary-red: hsl(0, 100, 64);
  }

  .dark {
    /* --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 240 3.7% 15.9%; */
  }
}

@layer base {

}
